@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url("./reset.css");
@import url("./dark-theme.css");
@import url("./book.css");
@import url("./wing.css");

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--color-sub);
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main,
main .main_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    transition: background-color 0.5s;
}
