#header {
    background-color: lavender;
    width: 100%;
    height: 15vh;
}
.header_background {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font: 40px bold;
    margin: 0;
}
.header_logo{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
}
.background_first{
    display: flex;
}
.background_first>button{
    margin: 17px ;
}
.contents{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.contents_img>a>img{
    max-width: 70%;
    height: auto;

}
.contents_name{
    max-width: 25%;
}