
#keywords {
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#keywords table {
  width: 100%
}

#keywords thead {
  background: #dadada;
}

#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}